
/*custom navbar*/
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: rgb(51, 122, 183);
    border-color: rgb(51, 122, 183);
}
.navbar-brand {
    font-size: 220%;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #c0d9f8;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #c0d9f8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: rgb(66, 159, 235);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #c0d9f8;
    background-color: rgb(51, 122, 183);
}
.navbar-default .navbar-toggle {
    border-color: rgb(51, 122, 183);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(51, 122, 183);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #c0d9f8;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0d9f8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: rgb(66, 159, 235);
    }
}
/*end custom navbar styles*/

ul#roleUL {
    list-style-type: none;
    margin-top:10px;
    margin-left:0px;
    padding-left:0px;
}

ul#roleUL li {
    border:1px solid #ccc;
    margin-left:5px;
    margin-top: -1px;
    padding:5px 10px;

    background-color:white;
    font-weight:bold;

}

ul#roleUL li i {
    display:none;
}

ul#roleUL li.userRoleItem:hover {
    background-color:#da4f49;
    color:white;
}

ul#roleUL li.userRoleItem:hover i {
    display:inline-block;
}
